    @font-face {
    font-family: 'Rozanova-GEO-Demo-Semi-Bold';
    src:url('Rozanova-GEO-Demo-Semi-Bold.ttf.woff') format('woff'),
        url('Rozanova-GEO-Demo-Semi-Bold.ttf.svg#Rozanova-GEO-Demo-Semi-Bold') format('svg'),
        url('Rozanova-GEO-Demo-Semi-Bold.ttf.eot'),
        url('Rozanova-GEO-Demo-Semi-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
    }
    @media only screen and (min-width: 800px) {
    body{
        width:100%;
        overflow-x: hidden;
        margin: 0;
        font-family: "DM Sans";
        z-index: 1;
    }
    .phone{
        color:white;
        text-decoration: none;
      }
      .footer-desktop{
        width:100%;
        height:300px;
        background-color: black;
        display: flex;
      }
      .footer-left{
        color:white;
        width:50%;
        background-color: black;
        display:block;
        text-align: center;
        margin:20px;
      }
      .footer-right{
        color:white;
        width:50%;
        background-color: black;
        display: flex;
      }
      .footer-right-left{
        color:white;
        width:50%;
        background-color: black;
      }
      .footer-right-right{
        color:white;
        width:50%;
        background-color: black;
      }
      .footer-logo{
        height:75px;

      }
      nav{
        width:100%;
        height:fit-content;
        display:flex;
        padding-bottom:20px;
    }
      .nav-left{
        width: 20%;
        margin-left:20px;
        padding-top:20px;
    }
    .nav-right{
    width:50%;
    display:flex;
    float:right;
    margin-top: 1%;
    }
    .nav-item{
        margin-left:50px;
        color:black;
        text-decoration: none;
    }
    .nav-gap{
        width: 60%;
    }
    .nav-logo{
        float: left;
        height:60px;
    }
    .nav-btn-icon{
        height:60px;
    }
    .nav-btn{
        float: right;
        height:60px;
        background-color: white;
        border: 0;
    }
    .main-image-container{
        position: relative;
        text-align: center;
    }
    .main-image{
        width:100vw;
        height: 400px; object-fit: cover;
    }
    .main-image-logo{
        height:100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-image-container {
         position: relative;
         display: inline-block;
      }
      .main-image-container img {
         display: block;
      }
      .main-image-container .overlay {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
      }
      .sec-div-one{
      }
      .sec-one{
        height:100%;
        width:55%;
        font-size:15px;
        display: flex;
        justify-content: left;
        align-items: left;
        font-size:30px;
      }
      .desktop-view{
        display:flex;
        margin-left:10%;
      }
      .sec-text-one{
        width:100%;
        text-align: justify;
        float: left;
        font-family:"DM Sans";
        line-height: 45px;

      }
      .sec-two{
        width:30;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
      }
      .sec-div-two{
 
      }
      .sec-btn-two{


        background-color: black;
        border-radius: 10px;
        height:81px;
        width:225px;
        border: 0;
        color:white;
        font-size:30px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .sec-three{
        width:100%;
        text-align: left;
        font-size: 30px;

      }

      .three-div-one{
        display:flex;
        margin-bottom:30px;
      }
      .profile-img{
        width:80%;
        border-radius:20px;
      }
      .dropdown{
        background-color: white;
        width:100%;
        height:100%;
        position: absolute;
        z-index: 500;
        display:none;
      }
      .menu-top{
        height:50px;
        margin:20px;
      }
      .menu-bottom{
        display:block;
        height:250px;
        margin-left: 40px;
        margin-top: 40px;
        line-height:10px;
        padding-top:50px;
        width:50%;
        margin: auto;
    
      }
      .menu-btn{
        float: right;
        height:60px;
        background-color: white;
        border: 0;
      }
      .menu-btn-icon{
        height:40px;
      }

      .signup-email{
        text-align: center;
        border-radius: 10px;
        width:400px;
        border: 5px solid black; 
        height:70px;
        font-size:30px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .signup-btn{
        margin-left: 50px;
        background-color: black;
        border-radius: 10px;
        height:81px;
        width:225px;
        border: 0;
        color:white;
        font-size:30px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .footer-mobile{
        display:none;
      }
      .footer-desktop{
        display:flex;
      }
      .footer-link{
        color:white;
        text-decoration: none;
      }
      .footer-left{
        display:flex;
      }
      .footer-right{
        display:flex;
      }
      .three-div-one{
        width:80%;
      }
      .main-text{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
        font-size:50px;
      }
      .profile-container{
        display:flex;
        margin-left:10%;
      }
      .three-div-one{
        margin-left:10%;
      }

      .sec-five{
        width:100%;
        text-align: left;
        font-size: 30px;
        margin-left:10%;

      }

      .five-div-one{
        display:flex;
        margin-bottom:30px;
        margin-left:15%;
      }

      .footer-logo{
        height:120px;
        transform: translate(50%, 50%);
      }
      .footer-right-left{
        margin-top:20%;
      }
      .footer-right-right{
        transform: translate(0, 60%);
        height:50%;
        display:flex;

      }
      .nav-mobile{
        display:none;
    }
    .dropdown{
        display:none;
    }

    }




      @media only screen and (max-width: 600px) {
        .profile-name{

        }
        .nav-desktop{
            display:none;
        }
        .dropdown{
            display:flex;
        }
        body{
            width:100%;
            overflow-x: hidden;
            margin: 0;
            font-family: "DM Sans";
            z-index: 1;
        }
      .sec-five{
        width:100%;
        text-align: center;
        font-size: 15px;


      }

      .five-div-one{
        display:block;
        margin-bottom:30px;
      }
        .profile-container{
            display:block;
            margin: 0;
            text-align: center;
          }
          .profile-img{
            height: 400px; object-fit: cover;
                width:100%;
                border-radius:20px;
          }
          .profile-one {
            position: relative;
            display: inline-block;
         }
         .profile-one img {
            display: block;
         }
         .profile-one .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.8); /* black with 50% opacity */
         }

         .profile-desc{
            width:200px;
            color:white;
            position: relative;
            left: 50%;
            transform: translate(-50%,125%);
            color:white;
            z-index: 999;
         }
         .profile-btn{
            position: fixed;
            background-color: red;
            border:solid transparent;
            font-size: 30px;
            color:white;
            z-index: 1000;
            filter: drop-shadow(0 0 0.75rem black);
         }

        .desktop-view{
            display:block;
          }
        nav{
        width:100%;
        height:fit-content;
        display:flex;
        padding-bottom:20px;
    }
    .nav-left{
        width: 20%;
        margin-left:20px;
        padding-top:20px;
    }
    .nav-right{
        width: 20%;
        margin-right:20px;
        padding-top:20px;
        display:block;
    }
    .nav-gap{
        width: 60%;
    }
    .nav-logo{
        float: left;
        height:60px;
    }
    .nav-btn-icon{
        height:60px;
    }
    .nav-btn{
        float: right;
        height:60px;
        background-color: white;
        border: 0;
    }
    .main-image-container{
        position: relative;
        text-align: center;
    }
    .main-image{
        width:100%;
    }
    .main-image-logo{
        height:60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-image-container {
         position: relative;
         display: inline-block;
      }
      .main-image-container img {
         display: block;
      }
      .main-image-container .overlay {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
      }
      .sec-div-one{
        text-align: center;
      }
      .sec-one{
        height:100%;
        font-size:15px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sec-text-one{
        width:300px;
        text-align: justify;
        text-align-last: center;
        font-family:"DM Sans";
        line-height: 25px;
      }
      .sec-two{
        width:100%;
        text-align: center;
      }
      .sec-btn-two{
        margin:15px;
        background-color: black;
        border-radius: 10px;
        height:50px;
        width:150px;
        border: 0;
        color:white;
        font-size:20px;
      }
      .sec-three{
        width:100%;
        text-align: center;
      }

      .three-div-one{
        margin:0;
      }
   
      .footer-mobile{
        width:100%;
        height:350px;
        background-color: black;
        display: block;
        margin-top:20px;
      }
      .footer-top{
        text-align: center;
        width:100%;
        height:50%;
        position: relative;
        display: block;
      }
      .footer-bottom{
        width:100%;
        height:40%;
        text-align: center;
        position: relative;
    
      }
      .footer-text{
        color:white;
        font-family: "DM Sans";
      }
      .footer-desktop{
        display:none;  
      }
      .footer-top .footer-logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      .footer-logo{
        height:120px;
      }
      .signup-email{
        text-align: center;
        border-radius: 10px;
        margin:20px;
        width:60%;
        border: 5px solid black; 
        height:45px;
        font-size:20px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .signup-btn{
        margin:20px;
        background-color: black;
        border-radius: 10px;
        height:50px;
        width:100px;
        border: 0;
        color:white;
        font-size:20px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .dropdown{
        background-color: white;
        width:100%;
        height:100%;
        position: absolute;
        z-index: 500;
        display:none;
      }
      .menu-top{
        height:50px;
        margin:20px;
      }
      .menu-bottom{
        display:block;
        height:250px;
        margin-left: 40px;
        margin-top: 40px;
        line-height:10px;
        padding-top:50px;
        width:50%;
        margin: auto;
    
      }
      .menu-btn{
        float: right;
        height:60px;
        background-color: white;
        border: 0;
      }
      .menu-btn-icon{
        height:40px;
      }
      .main-text{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
        font-size:40px;
      }
      .sec-three{
        width:100%;
        text-align: center;
      }

      .sec-text-three{
        margin:40px;
      }
      a{
        text-decoration: none;
      }
      .menu-item:visited{
        color:black;
        text-decoration: none;
      }
      .sec-four{
        margin:0 auto;
        width:300px;
      }
      .sec-six{
        margin:0 auto;
        width:300px;
        font-size:20px
      }
      .send-btn{
        background-color: black;
        border-radius: 10px;
        height:50px;
        width:100px;
        border: 0;
        color:white;
        font-size:20px;
        font-family:'Rozanova-GEO-Demo-Semi-Bold';
      }
      .phone{
        color:white;
        text-decoration: none;
      }
    }