body {
  margin: 0;
  background: -webkit-linear-gradient(#003366, lightblue);
  height: 75rem;
    font-family: 'Comfortaa', cursive;
}

h2 {
  font-size: 5vw;
  padding-top: 3rem;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  text-align: center;
  margin: 2rem;
  line-height: 7.5vw;

}
#x{ background-color:white; border:none; color:black; font-size:1.5rem; }
#search-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#showDialog{
  height:3.5rem;
  width:3.5rem;
  left: 75%;
  right: 0rem;
  top:0rem;
  position: absolute;
  border-radius:0rem 3rem 3rem 0rem;
  
  
}
#signup, #login {
  cursor:pointer;
  font-weight: bold;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  border: none;
  height: 3.75rem;
  width: 60%;
  border-radius: 3rem;
  background-color: #003366;
  font-size: 1.25rem;
  color: white;
  margin: 1rem;
  
}

#option {
  display: block;
  margin: 0 auto;
  text-align: center;
  
}
#you {

  font-size: 7vw;
  background: #003366;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#perfect {

  background: lightblue;
  width: 50vw;
  background-size: contain;
  display: inline-block;
}

.header-container {
      box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  display: block;
}

.header {
  color: black;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

ul {
  list-style: none;
}

.main-body {
  width: 80%;
  background-color: white;
  border-radius: 2rem;
  justify-content: center;
  margin: 0 auto;
  margin-top:3rem;
  padding-bottom:3rem;
      box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.1);
}


.search {
  font-weight:thin;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
    margin-top: 2rem;;
  display: block;
  height: 3rem;
  width: 60%;
  border-radius: 3rem;
  border: black solid 0.2rem;
  font-size:1rem;
}
  #select  {
  font-weight:thin;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
    margin-top: 2rem;;
  display: block;
  height: 3rem;
  width: 60%;
  border-radius: 3rem;
  border: black solid 0.2rem;
  font-size:1rem;
}
.submit {
  text-align: center;
  font-family: sans-serif;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  height: 3rem;
  width: 9rem;
  border-radius: 3rem;
  
}

#or {
    text-align: center;
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 1.5rem;
}

#second {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#u {
  background-size: contain;
  display: inline-block;
  color: white;
  -webkit-background-clip: text;
  width: 2rem;
  background: -webkit-linear-gradient(#003366, lightblue);
  border-radius:1rem;
}
body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  background: -webkit-linear-gradient(#003366, lightblue);
  height: 100vh;
}

.container-main {
  height:3vh;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: grid;
  background-color: white;
  filter: drop-shadow(0 0 0.75rem black);
}

.main {

  display: flex;
  margin: auto;
  width: 100%;
  height:3vh;
  background-color: white;
}

.left {
  width: 70%;
    display: table-cell;
  vertical-align: middle;
}

.right {
  width: 30%;
  display: flex;
  justify-content: right;
}

#logo {
  margin: 0.25rem;
  ;

}

img {
  height: 4rem;
}

.button {
  display: block;
  align-items: center;
  margin: ;
  background: none;
  border: none;
}

#bar {
  border-radius: 2rem;
  width: 3rem;
  height: 0.3rem;
  background-color: black;
  justify-content: space-between;
  margin: 0.4rem;
}

#menu {
  display: table;
  height: 30%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: white;
  transition: 0.35s;
}

.helper {
  display: table-cell;
  vertical-align: middle;
}

#content {
  margin: 0 auto;
  width: 50vw;
  height:80vh;
}

#menu-item {
  cursor: pointer;
  padding-top:1vh;
  padding-bottom:1vh;
}

a{color:black; text-decoration: none;}

#u {
  background-size: contain;
  display: inline-block;
  color: white;
  -webkit-background-clip: text;
  width: 2.5rem;
  background: -webkit-linear-gradient(#003366, lightblue);
  border-radius: 1rem;
    text-align: center;
}

.header {
    font-weight: bold;
  font-family: 'Comfortaa', cursive;
  color: black;
  font-size: 2.25rem
}
.intro-box{
  margin:0 auto;
  background-color:white;
  width:80%;
  height:30rem;
  border-radius:3rem;
}
.intro {
  padding-top:10%;
  font-size:10rem;
  color:black;
}
@media (max-width:500px) {
#search-container {
  margin: 0 auto;
  position: relative;
  width: 95%;
}
#showDialog{
  height:3rem;
  width:3rem;
  left: 80%;
  right: 0rem;
  top:0rem;
  position: absolute;
  border-radius:0rem 3rem 3rem 0rem;
  border:solid black 0.20rem;
  
}
  .search, #select {
  font-weight:thin;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
    margin-top: 1rem;
  display: block;
  height: 2.5rem;
  width: 80%;
  border-radius: 3rem;
  border: black solid 0.2rem;
  font-size:0.75rem;
}
}
@media (min-width:1000px) {
  
#search-container {
  margin: 0 auto;
  position: relative;
  width: 40rem;
}
#showDialog{
  height:5.5rem;
  width:5rem;
  left: 33rem;
  right: 0rem;
  top:0rem;
  position: absolute;
  border-radius:0rem 3rem 3rem 0rem;
  border:solid black 0.20rem;
  
}

.search {
  font-weight:thin;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
    margin-top: 2rem;;
  display: block;
  height: 5rem;
  width: 80%;
  border-radius: 3rem;
  border: black solid 0.2rem;
  font-size:1.5rem;
}
  #select  {
  font-weight:thin;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin: 0 auto;
    margin-top: 2rem;;
  display: block;
  height: 3rem;
  width: 60%;
  border-radius: 3rem;
  border: black solid 0.2rem;
  font-size:1rem;
}
  h2 {
  font-size: 3REM;
  padding-top: 3rem;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  text-align: center;
  margin: 2rem;
  line-height: 5rem;

}

#you {

  font-size: 4rem;
  background: #003366;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#perfect {

  background: lightblue;
  width: 30rem;
  background-size: contain;
  display: inline-block;
}
  
}

